{% extends "index.html" %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <tbody>
    <tr><th scope="row" >Neural Network Classfication</th><td>
        the Best score on validation set is {{best_score}} and Best parameter for regularization (lambda) is {{best_parameters}}<br>
        Test set score with best C parameter is{{test_score}} and the acuracy NN {{accuracyNN}} </td></tr>
    <tr><th scope="row">Suport Vector Classfication</th><td> the Grid Search CV best score {{GridSearchCVbestscore}}and the Parameters best results {{Parameters_the_best_results}}<br>
    <br>
        Estimator that was chosen by the search{{Estimator_that_was_chosen_by_the_search}} and accuracy_scoreSVM{{accuracy_scoreSVM}}
    </td></tr>










  </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}

